@import './2_utils/variables';


* {
    margin: 0;
    h1 {
        font-size: 22px;
        font-family: $font-1;
        color: $colour-black;
    }
    h2 {
        font-size: 20px;
        font-family: $font-1;
        color: $colour-black;
    }
    h3 {
        font-size: 18px;
        font-family: $font-1;
        color: $colour-black;
    }
    h4 {
        font-size: 16px;
        font-family: $font-1;
        color: $colour-black;
    }
    p {
        font-size: 14px;
        font-family: $font-2;
        color: $colour-black;
    }
}

header {
    display:flex;
    padding: 20px 20px 20px 20px;
    justify-content: center;
}

.searchbar {
    margin-bottom: 20px;
    width: 100%;
    

    .form-control {
        width: 100%;
        height: 40px;
        font-size:16px;
        font-weight: 600;
        color: $colour-black;
        text-align: center;
        font-family: $font-3;
        background-color: $colour-medium-grey;
    }
  }
  