@charset "UTF-8";
/* Imports */
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("/font/Shrikhand-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/font/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/font/Roboto-Medium.ttf") format("ttf");
}

/* Règles transverses */
* {
  margin: 0;
  border: 0;
}

* h1 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

* h2 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #353535;
  font-weight: 400;
}

* h3 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

* h4 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #353535;
}

* p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

* .btn-explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  width: 60%;
  margin: 0 20% 0 20%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 20px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  width: 50%;
}

header .fas {
  position: absolute;
  left: 30px;
  top: 25px;
}

/* Accueil */
/* Section 1 = searchbar */
.searchbar {
  width: 100%;
}

.searchbar .form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  font-family: "Roboto-medium", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), color-stop(17%, #eaeaea));
  background: linear-gradient(180deg, #b5b5b5 0%, #eaeaea 17%);
}

/* Section 2 = bandeau d'exploration */
.exploration {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

.exploration h1 {
  margin: 0 60px 20px 60px;
  padding-top: 40px;
}

.exploration h2 {
  margin: 20px 30px 40px 30px;
}

/* Section 3 = Fonctionnement */
.fonctionnement {
  padding-bottom: 40px;
}

.fonctionnement h1 {
  margin: 0 0 30px 30px;
}

.fonctionnement h3 {
  color: #000;
}

.fonctionnement .étape-1,
.fonctionnement .étape-2,
.fonctionnement .étape-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 90%;
  margin: 0 5% 20px 5%;
  color: #000;
  background-color: #f6f6f6;
  border-top-right-radius: 5% 30%;
  border-bottom-right-radius: 5% 30%;
  border-top-left-radius: 5% 30%;
  border-bottom-left-radius: 5% 30%;
  -webkit-box-shadow: 0px 10px 18px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 18px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.fonctionnement .numero {
  position: absolute;
  text-align: center;
  left: 9px;
  font-family: "Shrikhand", sans-serif;
  font-size: 14px;
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.fonctionnement .numero p {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fonctionnement i {
  position: absolute;
  text-align: center;
  left: 65px;
  color: #7E7E7E;
}

/* Section 4 = Restaurants */
.restaurants {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
}

.restaurants h1 {
  margin: 0 0 30px 30px;
}

.restaurants .restau {
  margin: 0 20px 20px 20px;
  background-color: #fff;
  border-radius: 5%;
  height: 250px;
  -webkit-box-shadow: 0px 10px 18px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 18px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.restaurants img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.restaurants h3,
.restaurants h4,
.restaurants i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurants h3,
.restaurants H4 {
  width: 80%;
  padding-top: 10px;
  padding-left: 10px;
  float: left;
}

.restaurants i {
  width: 10%;
  float: right;
}

/* Footer - affiche les autres infos utiles */
.footer {
  background-color: #353535;
  color: #fff;
  padding: 30px 0 20px 25px;
}

.footer img {
  fill: #fff;
  color: #fff;
  padding-bottom: 20px;
  width: 30%;
}

.footer p {
  color: #fff;
  margin-bottom: 10px;
}

.footer .proposer,
.footer .partenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .proposer i,
.footer .partenaire i {
  width: 8%;
  float: left;
}

/* Accueil */
/* headermenu */
.headermenuimg {
  width: 100%;
}

/* menu */
.menu {
  width: 100%;
  background-color: #f6f6f6;
  margin-top: -50px;
  padding-bottom: 80px;
  position: relative;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  /* menu_détail */
}

.menu .titremenu {
  padding: 40px 0 10px 20px;
}

.menu .titremenu h1 {
  font-family: "Shrikhand", sans-serif;
}

.menu .menu_detail h2 {
  margin-top: 40px;
  padding: 0 0 10px 20px;
}

.menu .menu_detail h2 .underlined {
  -webkit-text-decoration: underline #99E2D0;
          text-decoration: underline #99E2D0;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

.menu .menu_detail .choix {
  padding: 10px 0 30px 20px;
  margin: 20px 20px 10px 20px;
  background-color: #fff;
  border-radius: 15px;
  height: 25px;
  -webkit-box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.05);
}

.menu .menu_detail .choix h3, .menu .menu_detail .choix h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  padding-top: 5px;
  float: left;
}

.menu .menu_detail .choix p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  float: right;
  padding-right: 10px;
  font-weight: 600;
}

.menu .btn-explorer {
  margin-top: 50px;
}
/*# sourceMappingURL=main.css.map */